html {
    font-size: 10px;
    font-family:'Open Sans', sans-serif
}
#my-id {
  color: red;
}
h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px pink;
  }
a:hover {
  /* background-color: blue; */
}
.classtest {
  background-color: pink;
}
body{
    width: 600px;
    margin: auto
}
img {
    display: block;
    margin: 0 auto;
  }